.project-card {
  max-width: 400px;
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.block-cursor {
  cursor: not-allowed;
}
.border-none {
  border: none;
  background: transparent;
}
.project-title {
  margin: 1rem;
  color: black;
}

.private-repo:after{
    content:'Github';
    transition: all 300ms ease;
}
.public-repo:after{
    content:"Github";
    transition: all 300ms ease;
}
.private-repo:hover:after{
    content:'Private Repo';
}