.page-not-found-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  gap: 1rem;
}
.page-not-found-container h1 {
  font-size: 48px;
}
.text-red {
  color: red;
}
