.portfolio-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 80px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);   
}
.portfolio-nav__logo a{
    text-decoration: none;
    color:black;  
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    
}
#navbar li{
    list-style: none;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    color:black;
}
#navbar li a:hover,
#navbar li a.active{
    color:grey;
}

#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 50%;
    height: 2px;
    background: rgb(95, 94, 94);
    position: absolute;
    bottom: -4px;
    left:0px;
}

.portfolio-nav__mobile{
    display: none;
}

.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }

@media screen and (max-width:700px){
    .portfolio-nav{
        justify-content: space-between;
        padding:15px 20px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap:1rem;
        position: fixed;
        top:80px;
        right:-400px;
        background-color: rgb(249, 247, 247);
        padding: 20px;
        box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
    }
    #navbar.active{
        right:20px;
    }
   .portfolio-nav__mobile{
        display:block;
    }

}