@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

.btn-1 {
  border: 2px solid black;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  transition: all 500ms ease;
}
.btn-1:hover {
  color: white;
  background: black;
  transition: all 500ms ease;
}

.btn-2 {
  border: 2px solid black;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background: black;
  font-size: 14px;
  transition: all 500ms ease;

}
.btn-2:hover {
  background: white;
  color: black;
  cursor: pointer;
  transition: all 500ms ease;

}
.project-btn {
  border: 1px solid black;
  padding: 8px 15px;
  border-radius: 2rem;
  text-decoration: none;
  color: black;
  font-size: 14px;
  transition: all 300ms ease;
  width: 9rem;
  cursor: pointer;
  background:transparent;
}
.project-btn:hover {
  color: white;
  background: black;
  transition: all 300ms ease;
}
.icon {
  width: 35px;
  height: 35px;
}
.icon-lg {
  width: 40px;
  height: 40px;
}

.flex-wrap-justify-center-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;
}
.flex-col-wrap-justify-center-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
}
.border-rounded{
  border: 1px solid grey;
  border-radius: 1rem;
}
.heading{
  text-align: center;
  margin-bottom: 2rem;
}

.grow {
  transition: 0.3s ease;
}

.grow:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px black;
}
.grow:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.3s ease;
  border-radius: 1rem;
  box-shadow: 0 0 5px black;
}